<!DOCTYPE html>
{% verbatim %}
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
        (function(){
            'use strict';
        angular.module('app',[])
        .controller('mycontroller',function($scope,$http){

        $scope.addData = function(data){
        $http.post('/authorboard/authors/',data).then(function(data){
            console.log(data);
        });
        }

        $scope.getData = function(){
        $http.get('/authorboard/authors').then(function(response){
        $scope.authors = response.data;
        });
        }

        $scope.initData = function(){
        $scope.getData();
        }

        }).config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
}]);
        }());
    </script>
</head>

<body ng-controller="mycontroller" ng-init="initData()">
        <div class="container-fluid">
            <div class="well">
                <h2 class="text-center">Author Dashboard</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class=" col-md-10 text-right">
                <button type="button" data-toggle="modal" data-target="#addAuthor" title="Add Author Details"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-12">
                <div class="col-md-1"></div>
            <div class="col-md-10">
            <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-4">Title</th>
                <th class="col-md-4">Author</th>
                <th class="col-md-4">Description</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="author in authors">
                <td>{{author.title}}</td>
                <td>{{author.author}}</td>
                <td>{{author.description}}</td>
            </tr>
            </tbody>
            </table>
        </div>
                <div class="col-md-1"></div>
        </div>
    </div>
        <div class="modal fade" id="addAuthor" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Author Details</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
          <div class="col-md-12" style="margin-top:10px">
              <div class="col-md-4">
                  <b>Title</b>
              </div>
              <div class="col-md-6">
                  <input type="text" ng-model="data.title">
              </div>
          </div>
          <div class="col-md-12" style="margin-top:10px">
              <div class="col-md-4">
                  <b>Author</b>
              </div>
              <div class="col-md-6">
                  <input type="text" ng-model="data.author">
              </div>
          </div>
          <div class="col-md-12" style="margin-top:10px">
              <div class="col-md-4">
                  <b>Description</b>
              </div>
              <div class="col-md-6">
                  <input type="textarea" ng-model="data.description" />
              </div>
          </div>
          <div class="col-md-12" style="margin-top:10px">
              <div class="col-md-4"></div>
              <div class="col-md-6">
                  <button class="btn btn-default" ng-click="addData(data)">Submit</button>
              </div>
          </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
        {% endverbatim %}
</body>
</html>
